@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --pri-color: #FF4521;
    --sec-color: #29263D;
    --font: poppins;
    --text: rgba(87, 84, 84, 0.79);
    
}
body {
    width: 100%;
    display: flex;
    font-family: var(--font);
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body .container {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header {
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 9px;
    left: 2%;
    right: 2%;
    padding: 6px;
    box-sizing: border-box;
    background-color: rgba(245, 245, 245, 0.733);
    z-index: 9;
    border-radius: .5em;
    box-shadow: 0px 0px 2px gray;
}
.header .logo {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: center;
}
.logo img {
    width: 100%;
    object-fit: cover;
    object-fit: contain;
}
.header .nav {
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.nav li {
    list-style-type: none;
}
.nav li a {
    text-decoration: none;
    color: var(--sec-color);
    font-family: var(--font);
    text-transform: capitalize;
    padding-bottom: 3px;
    transition: .3s ease-in-out;
    font-weight: 600;
}
.nav li:hover a{
    color: var(--sec-color);
}
.nav li a:hover {
    border-bottom: 2px solid var(--sec-color);
}
/* mobile view */
.mobile {
    display: none;
}

.container .body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
}
.body .hero {
    width: 100%;
    height: 600px;
    background-image: url(/public/1.jpeg);
    background-attachment: fixed;
    background-position: top;
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
}
.body .hero .hero-text {
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.687);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-text span {
    width: 80%;
    color: white;
}
.hero-text span p {
    width: 60%;
    /* padding-left: 30px; */
}
#intro {
    color: var(--pri-color);

}
.space {
    font-family: var(--font);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.space h1 {
    width: 90%;
    /* padding-left: 30px; */
    color: var(--pri-color);
    box-sizing: border-box;
}
.space p {
    color: #29263D;
    font-family: var(--font);
    padding-left: 30px;
    font-size: .9rem;
}

/* styles for about me section */
.about {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 30px 30px 0px 0px;
    margin-top: -40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.about_body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}
.about_body section {
    width: 45%;
}
.about_body .Aimg {
    width: 45%;
    object-fit: cover;
}
.about_body .Aimg img {
    width: 100%;
}
.about_body .Atxt {
    width: 55%;
    padding: 10px;
    box-sizing: border-box;
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Atxt p {
    width: 90%;
    font-size: .9rem;
    color: var(--text);
}
.socials {
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.socials i {
    padding: 5px;
    margin-left: 10px;
    font-size: 4rem;
}

/* style for the projects section */
.my-project {
    width: 100%;
    box-sizing: border-box;
    background-image: url(/public/f2.jpg);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.my-project .hero-text {
    width: 100%;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.687);
}
.project {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
    height: fit-content;
}
.project span {
    border: 2px solid #FF4521;
    width: 30%;
    border-radius: .9em;
    margin-top: 20px;
    padding: 5px 10px;
    box-sizing: border-box;
    background-color: #29263d9a;
    font-family: var(--font);
}
.project span h2 {
    margin: 0;
    text-transform: capitalize;
    font-family: var(--font);
    color: var(--pri-color);
}
.project span h5 {
    margin: 0;
    padding: 5px;
    font-size: .7rem;
}
.project span .Pbdy {
    margin: 0;
    color: rgb(159, 151, 151);
    font-family: var(--font);
    font-size: .9em;
    width: 100%;
}
.project span a {
    margin: 0;
    color: whitesmoke;
    font-size: .8em;
    padding: 5px;
}

/* contact me styles */
.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.form {
    width: 100%;
    padding: 8px 8px 2px 0px;
    box-sizing: border-box;
    border-radius: .7em;
    box-shadow: 0px 0px 3px gray;
}

.footer {
    border-top: 4px solid var(--pri-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-family: var(--font);
}
.footer span {
    width: 95%;
}
.footer span img {
    width: 250px;
}
.footer .top {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.top span {
    width: 80%;
    padding: 10px;
    font-size: .8rem;
}
.footer .down {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 10px;
}
.down span {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 45%;
}
.down span h2 {
    text-transform: capitalize;
    color: var(--pri-color);
    margin: 0px;
} 
.down span a {
    color: #29263D;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px;
    box-sizing: border-box;
}
.down .Fsocials {
    padding: 10px;
    box-sizing: border-box;
}
.down .copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right !important;
    padding: 15px;
}


/* media style for small screen */
@media (max-width: 767px) {
    .header {
        height: 70px;
        padding: 10px;
        box-sizing: border-box;
    }
    .mobile {
        display: flex;
        width: 100%;
        position: relative;
        box-sizing: border-box;
    }

    .header .logo{
        display:    none;
    }
    .header .nav{
        display: none;
    }
    .sm-nav {
        display: none;
        transition: 0.5em;
        width: 100%;
        position: absolute;
        top: 50px;
        flex-direction: column;
        box-sizing: border-box;

    }
    .sm-nav li {
        padding: 10px;
        box-sizing: border-box;
        list-style-type: none;
        width: 100%;
    }
    .sm-nav li a {
        border: 0px;
        text-decoration: none;
        color: var(--pri-color);
    }
    .sm-nav span {
        text-align: right;
        padding: 10px;
        box-sizing: border-box;
    }
    .sm-logo {
        width: 150px;
        /* position: absolute;
        right: 50px; */
    }
    .sm-logo img {
        width: 100%;
    }
    .menu {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        padding-left: 30px ;
        color: var(--sec-color);
    }

    /* hero section */
    .body .hero {
        object-fit: contain;
    }
    .hero-text span {
        width: 90%;
    }
    .hero-text span p {
        width: 95%;
        padding: 6px;
        font-size: .9em;
    }


    /* about me */
    .about_body {
        flex-direction: column;
    }
    .about_body .Aimg {
        width: 100%;
    }
    .about_body .Atxt {
        width: 100%;
    }
    .about_body .Atxt p {
        width: 100%;
    }

    /* project */
    .my-project {
        width: 100%;
        background-position: center;
        margin-bottom: 50px;
    }
    .project {
        width: 100%;
        height: fit-content;
    }
    /* contact me */
    .contact {
        width: 100%;
        padding-top: 20px;
    }

    /* footer */
    .down span {
        width: 100%;
        font-family: var(--font);
    }
}